body {
    font-family: Arial, sans-serif;
}

.cottage {
    border: 3px solid skyblue;
    border-image: linear-gradient(to right top, rgb(85, 147, 241), skyblue, rgb(0, 197, 131));
    border-image-slice: 1;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
    width: 30%;
}

.cottage:hover {
    color: rgb(3, 199, 199);
}

#cottages-list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#booking-form {
    margin-top: 20px;
}

#calendar-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.calendar {
    border-collapse: collapse;
    width: 100%;
    max-width: 300px;
    margin: 20px 0;
}

.calendar caption {
    font-size: 1.2em;
    margin-bottom: 10px;
}

.calendar th, .calendar td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
}

.calendar .empty {
    background-color: #f9f9f9;
}

.calendar .booked {
    background-color: red;
    color: white;
}
